<div class="login-form">
  <div class="login-bg-container">
    <div>
      <img src="../../../assets/public/website-images/logo.svg" alt="logo img">
    </div>
    <span id="error-msg" [hidden]="!errorOccurred">Incorrect email or password</span>
    <form (ngSubmit)="login()">
      <div class="form-group">
        <input type="text" id="email" name="email" placeholder="email" [(ngModel)]="email">
      </div>
      <div class="form-group">
        <input type="password" id="password" name="password" placeholder="password" [(ngModel)]="password">
      </div>
      <button id="login-button" type="submit">login</button>
    </form>
    <a [routerLink]="['/register']">
      <button id="register-button">register</button> 
    </a>
  </div>
</div>
